<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.backgroundmanagementsystem.mapper.ImageMapper">
    <!-- 批量查询图片信息 -->
    <select id="findBatch" resultType="com.example.backgroundmanagementsystem.pojo.vo.UserImageVO">
       select *, create_time as uploadTime
       from user_image
       <where>
           <if test="imageId!=null">and image_id=#{imageId}</if>
           <if test="userId!=null">and user_id=#{userId}</if>
            <if test="commentId!=null">and comment_id=#{commentId}</if>
            <if test="status!=null">and status=#{status}</if>
            <if test="uploadTimeStart!=null">and create_time &gt;= #{uploadTimeStart}</if>
            <if test="uploadTimeEnd!=null">and create_time &lt;= #{uploadTimeEnd}</if>
       </where>
       order by create_time desc
    </select>
</mapper>