<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.backgroundmanagementsystem.mapper.UserMapper">
    <!--新增-->
    <insert id="insert">
        insert into user(phone_number, password, id_number, name, description, gender, age, address, wechat, qq,account_status,comment_status,role_type,create_time,update_time)
            VALUES
        (#{phoneNumber},#{password},#{idNumber},#{name},#{description},#{gender},#{age},#{address},#{weChat},#{qq},#{accountStatus},#{commentStatus},#{roleType},#{createTime},#{updateTime})
    </insert>
    <!--修改-->
    <update id="update">
        update user
        <set>
            <if test="phoneNumber!=null">phone_number=#{phoneNumber},</if>
            <if test="password!=null">password=#{password},</if>
            <if test="idNumber!=null">id_number=#{idNumber},</if>
            <if test="name!=null">name=#{name},</if>
            <if test="description!=null">description=#{description},</if>
            <if test="gender!=null">gender=#{gender},</if>
            <if test="age!=null">age=#{age},</if>
            <if test="address!=null">address=#{address},</if>
            <if test="weChat!=null">wechat=#{weChat},</if>
            <if test="qq!=null">qq=#{qq},</if>
            <if test="roleType!=null">role_type=#{roleType},</if>
            <if test="accountStatus!=null">account_status=#{accountStatus},</if>
            <if test="commentStatus!=null">comment_status=#{commentStatus},</if>
            <if test="createTime!=null">create_time=#{createTime},</if>
            <if test="updateTime!=null">update_time=#{updateTime},</if>
        </set>
        where user_id=#{userId}
    </update>
    <!--查询-->
    <select id="findBatch" resultType="com.example.backgroundmanagementsystem.pojo.vo.UserVO">
        select * from user
        <where>
            <if test="userId!=null">and user_id=#{userId}</if>
            <if test="phoneNumber!=null">and phone_number like concat('%',#{phoneNumber},'%')</if>
            <if test="name!=null">and name like concat('%',#{name},'%')</if>
            <if test="idNumber!=null">and id_number like concat('%',#{idNumber},'%')</if>
            <if test="roleType!=null">and role_type=#{roleType}</if>
            <if test="accountStatus!=null">and account_status=#{accountStatus}</if>
        </where>
        order by role_type desc, user_id asc
    </select>
</mapper>